<div class="container col-md-6 col-md-offset-3">
    <form name="forgotPassword" ng-submit="sendForgotPasswordEmail(emailForConfirm)" ng-if="!resetSuccessfull">
        <div class="form-group">
            <h2>Fill in the form with Your email address:</h2>
            <input type="email" ng-model="emailForConfirm" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success btn-large" ng-disabled="forgotPassword.$invalid">Send email
        </button>
    </form>

    <div ng-if="sentSuccessfull">
        <h2 class="text-center text-success">Email has been sent successfully!</h2>
        <p class="lead text-center">Please, follow the instructions in the email</p>
    </div>
</div>